<% include partial/header %>
<div class="row">
    <div class="col-sm-4">
      <br>
        <form method="POST" action="/search" autocomplete="off">
        Select File: <select class="custom-select" name="fileSelect" id="fileSelect">
            <option value="" disabled selected>Select a file</option>
            <% for(var i=0;i<pdfFiles.length;i++){if(pdfFiles[i]){ %>
              <li class="list-group-item">                 
                 <option value="<%= i %>"><%= pdfFiles[i]  %></option>
              </li>
             <% }} %>
          </select><br><br>
         Select Keyword:<!--<input type="text" name="searchKey" id="searchKey" class="form-control"> -->
        <div style="position:relative;height:38px;border:0;padding:0;margin:0;">
          <select class="custom-select" style="position:absolute;top:0px;left:0px;line-height:20px;margin:0;padding:0;" onchange="document.getElementById('searchKey').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
             <option value="" disabled selected>--Enter/Select a keyword--</option>
             <% for(var i=0;i<keywords.length;i++){if(keywords[i]){ %>
              <li class="list-group-item">                 
                 <option value="<%= keywords[i] %>"><%= keywords[i]  %></option>
              </li>
             <% }} %>
          </select>
          <input name="searchKey" id="searchKey"  class="form-control hoverSearchBox" placeholder="Enter/Select a keyword" id="searchKey" onfocus="this.select()" type="text">
          <input name="idValue" id="idValue" type="hidden">
          </div>
        <br>
        <input type="submit" value="Search" class="btn btn-primary">
        </form>
        <br>
        <%if(typeof msg !== "undefined"){%>
          <span class="alert-<%- color %>" style="padding: 10px"><%- msg %></span>
        <% }%>
    </div>
    <div class="col-sm-8" style="text-align: center">
    <div style="margin-bottom: 10px">
      <button id="prv" onclick="iterPDF('PREV')" class="btn btn-info btn-sm">Prev</button> | <button id="nxt" onclick="iterPDF('NEXT')" class="btn btn-info btn-sm">Next</button>
    </div>
    <input type="hidden" id="currPage" name="currPage" value="1" />
    <% if(locals.page){ %>
    <iframe style="width:100%;height:800px" src="web/viewer.html?file=<%= pdfPath %>#page=<%= page %>" id="ifrm"></iframe>
    <% }else{ 
      if(typeof pdfPath !== "undefined"){ %>
      <iframe style="width:100%;height:800px" src="web/viewer.html?file=<%= pdfPath %>" id="ifrm"></iframe>
  <%}}%>
</div>
</div>
<br>
  <script>
    $( document ).ready(function() {
      window.frames['ifrm'].document.getElementById('findInput').value = 'date';
      window.frames['ifrm'].document.getElementById('findHighlightAll').checked = true;
    });
    function htmlDecode(input){
      var e = document.createElement('div');
      e.innerHTML = input;
      return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    $('#nxt').click(function(e){
      e.preventDefault();   
      iterPDF("NEXT",this);
    });
    $('#prv').click(function(e){
      e.preventDefault();   
      iterPDF("PREV",this);
    });
    function iterPDF(action,ctrl){				     
              var data = {};  
              data.action=action;
              data.currPage = parseInt($('#currPage').val());
              $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
				        contentType: 'application/json',
                url: 'http://localhost:3000/ajax',						
                success: function(dta) {
                  if(dta.disable){
                    $(ctrl).prop("onclick", null);$(ctrl).prop("color", "#cccccc");}

                  else{
                    $(ctrl).prop("onclick", "iterPDF('"+action+"')");$(ctrl).prop("color", "#000000");                    
                    $('#currPage').val(dta.pge);                    
                    var iframe = document.getElementById('ifrm');
                    iframe.src = 'web/viewer.html?file='+"<%= typeof pdfPath!='undefined' ? pdfPath : '' %>"+'#page='+dta.pge;
                  }  
                },
                error  : function() { console.log('error');}
              });				
           }
  </script>
<% include partial/footer %>
